<div class="col-6 mx-auto">
  <div class="card mt-4">
    <div class="card-header text-white bg-primary">ReversePhrase</div>
    <div class="card-body">
      <div class="form-group">
        <label>Text</label>
        <input (input)="onChangeText($event)" class="form-control" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit" (click)="onClickReverse()"
          [disabled]="!text.length">Submit</button>
      </div>
      <div *ngIf="reversedText.length">
        {{reversedText}}
      </div>
    </div>
  </div>
</div>
